@keyframes waveGradient {
  0% {
    background-position: 0% 45%, 65% 20%, 50% 60%;
  }
  50% {
    background-position: 25% 65%, 55% 40%, 45% 55%;
  }
  100% {
    background-position: 60% 35%, 35% 70%, 55% 40%;
  }
}
@keyframes wavePatternDrift {
  0% {
    background-position: 0% 0%, 0% 0%, 45% 60%;
    transform: perspective(1300px) rotateX(72deg) rotateZ(-10deg) scale(1.2);
  }
  50% {
    background-position: 6% -4%, -4% 6%, 55% 50%;
    transform: perspective(1300px) rotateX(75deg) rotateZ(-8deg) scale(1.25);
  }
  100% {
    background-position: -4% -8%, -8% -4%, 65% 42%;
    transform: perspective(1300px) rotateX(78deg) rotateZ(-12deg) scale(1.3);
  }
}
